@import 'tailwindcss';

:root {
	--yellow: #ffc73a;
	--faight-yellow: #ffda4e;
	--red: #ff2c2c;
	--red: #fa4242;
	--green: #ff00a2;
	--purple: #a857e5;
	--faight-orange: #ff764f;
	--light-bg: #fffffe;
	/* --primary-color: var(--faight-orange); */
	/* --primary-color: rgb(173, 173, 174); */
	/* --secondary-color: #514040; */
	/* --secondary-color: var(var(--faight-yellow)); */
	--secondary-light-color: #565656;
	/* --color-1: var(--secondary-color); */
	/* --color-2: var(--secondary-color); */
}

html,
body {
	/* background-color: var(--primary-color); */
	color: var(--secondary-color);
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	min-height: 90vh;
}

* {
	box-sizing: border-box;
}

button,
.btn {
	@apply rounded-md bg-[var(--color-1)] px-4 py-2 text-lg font-medium text-[var(--secondary-color)] transition-colors hover:bg-cyan-700;
}

.btn-outline {
	@apply flex h-5 w-5 items-center justify-center rounded-full border border-[var(--secondary-color)] bg-transparent p-0 text-[var(--secondary-color)] transition-colors hover:border-[var(--color-2)] hover:text-[var(--color-2)];
}

.btn-bauhaus {
	@apply rounded-md border-0 border-[var(--color-1)] bg-[var(--color-2)] text-black px-4 py-2 font-bold tracking-wide uppercase transition-colors duration-200;
}

.btn-bauhaus:hover {
	@apply bg-[var(--secondary-color)] text-[var(--primary-color)];
}

.btn-nofill {
	@apply rounded-md border-2 border-[var(--secondary-color)] bg-transparent px-4 py-2 font-bold tracking-wide text-[var(--secondary-color)] uppercase transition-colors duration-200;
}

.btn-onlytext {
	@apply bg-transparent p-0 text-base font-bold uppercase transition-colors duration-200;
}

.card-base {
	@apply grid grid-cols-[2fr,1fr] gap-8;
}

label {
	@apply block tracking-wide text-[var(--secondary-color)] uppercase;
}
input[type='text'] {
	@apply w-full border border-[var(--secondary-color)] bg-transparent p-2 text-[var(--secondary-color)] focus:border-[var(--color-1)] focus:outline-none;
}
